<nav class="col-md-2 d-none d-md-block bg-light sidebar" >
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
        
      <li class="nav-item">
        <a class="nav-link " routerLink="/Ctrl" routerLinkActive="active">
         <i class="fa fa-home "></i>  Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Users-control" routerLinkActive="active">
          <i class="fa fa-users"></i>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/Videos-control">
          <i class="fa fa-video-camera"></i>
        Videos
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/Achievements-control">
            <i class="fa fa-trophy"></i>
            Achievements
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/TwitchChannels-control">
          <i class="fa fa-twitch"></i>
          Twitch Channels
        </a>
    </li>
      <hr/>
  
    </ul>
    

  </div>
  
</nav>