<footer class="container-fluid text-left">
  <div class="container">
      <div class="row">
  
       
          <div class="col-sm-3">
            <p>
                Natus Vincere 2009-2019  © <br/>
                Restricted to 18 and over.
            </p>
          </div>
          <div class="col-sm-6 text-center copyright">
              <p>
                  All trademarks and copyrights belong to their respective owners.
              </p>
            </div>
            <div class="col-sm-3">
                <ul>
                    <li><a (click)="goto('https://www.instagram.com/unchainedesports')"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li><a (click)="goto('https://twitter.com/unchainedesprts')"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a (click)="goto('https://www.twitch.tv/unchainedesports')"><i class="fa fa-twitch fa-2x"></i></a></li>
                  </ul>


              </div>
        </div>
  </div>

</footer>