<div class="container" style="min-height:224px !important;">
    <div class="row" *ngIf="itemsVideo">
        <a routerLink="/Video-Details/{{item.title | routerLinkReplace}}/{{item.videoId}}/{{item.source}}"   class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12  videoItem" *ngFor="let item of itemsVideo | slice:0:4 | videoOrderByDesc ">
            <div>
                <div class="card" >
      
                    <img src="{{item.img}}"  />
                         <span class="item-video-btn">
            
                         </span>
                  </div>
                  
            </div>
         
      
      
          </a>
    </div>
  </div>
  