<div class="col-sm-12 text-left mt-4 mb-4">
    <button class="btn btn-success" (click)="openModal()"> <i class="fa fa-plus fa-2x"></i></button>
    <router-outlet></router-outlet>
  </div>
  <table class="table table-responsive table-hover">
    <thead>
      <th scope="col">#</th>
      <th scope="col">
        <input type="text" class="form-control textinput" placeholder="Search By Username" [(ngModel)]="searchTerm" />
      </th>
      <th scope="col">User Id</th>
      <th scope="col">Mail</th>
      <th scope="col">Phone</th>
      <th scope="col">Last Login Date</th>
      <th scope="col">Last Exit Date</th>
      <th scope="col">Status </th>
      <th scope="col">On</th>
      
      <th scope="col">Insert Date</th>
      <th scope="col">Update Date</th>
  
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of users; let i=index">
            <td [innerHTML]="i+1"></td>
            <td [innerHTML]="item.userName"></td>
            <td [innerHTML]="item.userId"></td>
            <td [innerHTML]="item.user_mail"></td>
            <td [innerHTML]="item.user_phone"></td>
            <td [innerHTML]="item.user_last_login_date"></td>
            <td [innerHTML]="item.user_exit_date"></td>
            <td [innerHTML]="item.user_status"></td>
            <td [innerHTML]="item.user_online"></td>
            <td [innerHTML]="item.user_insertdatetime"></td>
            <td [innerHTML]="item.user_updatedatetime"></td>

            <td><a (click)='openEditModal(item)' class="btn btn-warning" style="cursor:pointer"> <i
              class="fa fa-pencil fa-2x"></i></a> </td>
        <td><a (click)='delete(item.userId)' class="btn btn-danger" style="cursor:pointer"> <i
              class="fa fa-remove fa-2x"></i></a> </td>
        </tr>
    </tbody>
  </table>