<div class="container videoscontainer mt-3">
    <div class="row">
      <div class="col-sm-8">
          <h1>Videos</h1>
      
      </div>
      <div class="col-sm-4 text-right">

        <a routerLink='videos' class="moreClick" routerLink="/Streams">Streams <i></i> </a>
      </div>
      <div class="col-sm-12">
        <hr/>
      </div>
    </div>
    
      <div class="row" *ngIf="itemsVideo" >
  
          <a routerLink="/Video-Details/{{item.title | routerLinkReplace  }}/{{item.videoId}}/{{item.source}}" class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 videoItem mb-3"   *ngFor="let item of itemsVideo | slice:0:end | videoOrderByDesc">
      
            <div class="card" style="width: 100%;">
      
              <img src="{{item.img}}"  style="width: 100%;"   />
      
              <span class="item-video-btn">
      
              </span>
            </div>
      
          </a>
      
      
      
        </div>
        <div class="row mt-4 ">
          <div class="col-sm-12 text-center">
              <button class="moreBTN" (click)="clickMore()" *ngIf="moreBTN"><i class="	fa fa-reorder"></i> More</button>
          </div>
         
        </div>
  
  
  </div>
  