<div class="container ourTeams"><br /><br />

  <div class="row">
    <div class="col-sm-6">
        <div class="backimg">
            <h2>DOTA 2</h2>
          </div>

    </div>
    <div class="col-sm-6" >
        <div class="backimg">
            <h2>CSGO</h2>
          </div>
 
    </div>
    <div class="col-sm-6">
      <div class="backimg">
          <h2>PUBG</h2>
      </div>
     
    </div>
    <div class="col-sm-6">
        <div class="backimg">
            <h2>WARCRAFT</h2>
          </div>
    
    </div>
  </div>

</div>