
.logo{
    width: 20%;

  
    transition: transform .2s; /* Animation */
  
}

.logo:hover{
   
}
.navbar{
 
    /*border-bottom:1px solid #000b20 !important;*/
}
.navbar-dark .navbar-nav .nav-link{
    color: white ;
    font-weight: normal;
    font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #c0c0c0;
    text-decoration: underline !important;
}
.navbar-dark .navbar-nav .nav-link.activeLink{
    color: #c0c0c0;
    text-decoration: underline !important;
}
.navbar-expand-lg .navbar-collapse {
  

    position: relative;
    bottom: -2.1vw;
}
.baseMenu{
    background-color: #000b20 !important;
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.otherMenu{
    position: relative !important;
    background-color:#000209 !important
}


@media (min-width: 768px){
    div#navbarSupportedContent {
        display: flex!important;
        flex-basis: auto;
        position: relative;
        /* right: 0; */
        bottom: -46px !important;
    }
    .navbar{
        padding-top: 34px;

    }
}


@media(max-width:991px){
    .navbar-brand{
        width:54%
    }
    .navbar{
        background-color: #000b20 !important;
        position: relative;
        width: 100%;
        z-index: 9999;
        border-bottom:1px solid #000b20 !important;
    }
.logo{
    width: 31%;
    top: 9px;
    position: absolute;
    -webkit-transition: top 2s linear; /* Safari */
    transition: top 2.5s linear;
}
.logoPosition{
    -webkit-transition: opacity 1s linear; /* Safari */
    transition: opacity 1.5s linear;

    opacity: 0.1 !important;
}
    
}