<div class="container streamscontainer mt-3">
  <div class="row">
    <div class="col-sm-8">
        <h1>Streams</h1>
    
    </div>
    <div class="col-sm-4 text-right">

      <a routerLink='videos' class="moreClick" routerLink="/Videos">Videos <i></i> </a>
    </div>
    <div class="col-sm-12">
      <hr/>
    </div>
 
  </div>
  
    <div class="row" *ngIf="itemsStream" >

        <a routerLink="/Streams-Details/{{item.username}}" class="col-sm-3 videoItem mb-3"   *ngFor="let item of itemsStream | slice:0:end">
          <div>


            <div class="card" *ngIf="item.stream!=null" style="width: 100%;">
              <img src="https://static-cdn.jtvnw.net/previews-ttv/live_user_{{item.username}}-640x360.jpg" width="100%" />
              <span class="item-video-btn">
    
              </span>
            </div>
            <div class="card" *ngIf="item.stream==null" style="width: 100%;">
              <img src="../../../assets/img/streams.jpg" width="100%" />
              <span class="item-video-btn">
    
              </span>
            </div>
          </div>
    
        </a>
    
    
    
      </div>
      <div class="row mt-4 ">
        <div class="col-sm-12 text-center">
            <button class="moreBTN" (click)="clickMore()" *ngIf="moreBtn"><i class="	fa fa-reorder"></i> More</button>
        </div>
       
      </div>


</div>
