@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
    transition:all .4s;
}
.partnersdiv .col-3{
    padding: 4% !important;
    
}
.partnersdiv .col-9{
    padding: 4% 1% !important;
    
}

.partnersdiv{
    margin-bottom: 14%;

}
.service_item {
    padding: 15% 7%;
    text-align: center;
    background: #000209;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    cursor: pointer;
     min-height:510px !important;
     max-height:510px !important;
}
.service_item:hover {
    background:#00071f
}
.service_item img {
    margin-bottom: 10%;
    text-align: center;
    width: 50%;
}
h4{
color:#ffffff;
margin-bottom: 10%;
}
p{
    color:rgb(78, 78, 78);
}

.col-lg-4, .col-md-6{

    padding:0 15px 0 15px !important;
}