<div class="container mt-5 partnersdiv">
  <div class="row">
    <div class="col-sm-12">
        <h2>Partners</h2>
        <hr/>
    </div>
  
  </div>
  <div class="row ">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="service_item">
          <img src="../../assets/partners/esit_beyaz.png" alt="">
            <h4 class="text-center">Weighing Expert</h4>
            <p>Esit electronic started off as an engineering company in 1980,Esit got into the market by 
               making various electronic devices for different industries. As time passed Esits
               focus increased on the weighing devices and products and thus eventually 
               started building scales in 1987 under the name Esit.</p>
          </div>

        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="../../assets/partners/logo-w.png" alt="">
              <h4 class="text-center">Enjoy the game with </h4>
              <p>Fruit saw for brought fish forth had ave is man a  that their 
                Two he is dominion evening their  Fruit saw for
                brought fish forth
              
                Fruit saw for brought fish forth had ave is man a  that their 
                Two he is dominion evening their  Fruit saw for
                brought fish forth
              
              </p>
            </div>
          </div>
  </div>
  
</div>
