<section class="container streamVideos">
  <br />
  <div class="row">
    <div class="col-sm-8">
      <h2><a class="streams" id="streamsbtn" (click)='viewStreams()'><span >STREAMS</span></a><a class="videos" id="videosbtn" (click)='viewVideos()' ><span>VIDEOS</span></a> </h2>
    </div>
    <div class="col-sm-4 text-right">

      <a routerLink='videos' class="moreClick" routerLink="/{{routeExt}}">click for more <i></i> </a>
    </div>


  </div>


  <hr />
  <div class="row" *ngIf="items" >

    <a routerLink='/{{routeExt}}-Details/{{item.video_id}}' class="col-sm-3 videoItem"   *ngFor="let item of items | slice:0:end">

      <div class="card" style="width: 100%;">

        <img src="../../../assets/img/{{item.video_img_url}}" width="100%" />

        <span class="item-video-btn">

        </span>
      </div>

    </a>



  </div>



</section>