<div class="card" style="width: 100%;">
  <div class="card-header">
    <header><h3 class="text-center">Calendar</h3></header>

    <ul>
      <li class="text-center"><a><i class="fa fa-500px fa-3x"></i></a></li>
      <li class="text-center"><a><i class="fa fa-adn fa-3x"></i></a></li>
      <li class="text-center"><a><i class="fa fa-500px fa-3x"></i></a></li>
      <li class="text-center"><a><i class="fa fa-adn fa-3x"></i></a></li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title text-left">Pro League Season 9: NAVI.GG.BET debut</h5>
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr >
          <th> </th>
          <th>Teams</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr  >
          <td>John</td>
          <td>Doe</td>
          <td>2-3</td>
          <td>05 Apr 2019</td>
        </tr >
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>2-3</td>
          <td>05 Apr 2019</td>
        </tr>
        <tr >
          <td>July</td>
          <td>Dooley</td>
          <td>2-3</td>
          <td>05 Apr 2019</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer"></div>
</div>
