<div class="card" style="width: 100%;">
  <div class="card-header">
    <header><h3 class="text-center">Calendar</h3></header>

    <ul>
      <li class="text-center"><a><i class="fa fa-500px fa-3x"></i></a></li>
      <li class="text-center"><a><i class="fa fa-adn fa-3x"></i></a></li>
      <li class="text-center"><a><i class="fa fa-500px fa-3x"></i></a></li>
      <li class="text-center"><a><i class="fa fa-adn fa-3x"></i></a></li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title text-left">Pro League Season 9: NAVI.GG.BET debut</h5>
    <p>
      On March 15, at 22:45 CET, the NAVI.GG.BET team will debut in the 9th
      season of the Pro League. The rival of the "yellow-black" will be PENTA
      Sports.
    </p>
  </div>
  <div class="card-footer"></div>
</div>
