<div class="container mt-5">
  <div class="row">
  </div> 
  <div class="row">
    <div  class="col-sm-12 col-md-6 col-lg-6 col-xl-3 ">
      <div  class="card " style="width: 100%;">
        <div class="card-top  background">
            <img  alt="Card image cap" class="card-img-top" src="../../../assets/img/teams.png">
        </div>
   
        <div  class="card-body">
          <h5 class="card-title text-left">Pro League Season 9: NAVI.GG.BET debut</h5>
          <p >On March 15, at 22:45 CET, the NAVI.GG.BET team will debut in the 9th season of the Pro
            League. The rival of the "yellow-black" will be PENTA Sports.</p>
        </div>
        <div class="card-footer"><span>05 Apr 2019 </span><span 
            style="float:right">25 <i class="fa fa-comments"></i></span><span 
            style="float:right">999 <i class="fa fa-eye"></i> &nbsp; </span></div>
      </div>
    </div>


  </div>
</div>