<div>
  <div class="form-group">
    <input
      class="form-control mr-sm-2"
      name="achievement_tournament"
      [(ngModel)]="addItems.achievement_tournament"
      required
      type="text"
      placeholder="Tournament Name"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control mr-sm-2"
      name="achievement_prize"
      [(ngModel)]="addItems.achievement_prize"
      required
       type="number" min="1" step="any"
      placeholder="Prize $"
    />
</div>
 
  <div class="form-group">
 
  </div>
  <div class="form-group">
    <input
      class="form-control mr-sm-2"
      name="achievement_date"
      [(ngModel)]="addItems.achievement_date"
      required
      type="date"
      placeholder="Tournament Date"
    />
  </div>
  <div class="form-group">
      

  <label class="radio-inline"><input name="achievement_status"
    [(ngModel)]="addItems.achievement_status"
    required
    type="radio" value="1"
    placeholder="Tournament Status">Active &nbsp; </label>


  <label class="radio-inline"><input type="radio" name="achievement_status"
    [(ngModel)]="addItems.achievement_status"
    required
    type="radio" value="0"
    placeholder="Tournament Status" >Passive</label>



  </div>

  <div class="form-group">
    
    <select [(ngModel)]="addItems.game_id">
        <option value='0'>Select Game </option>
        <option *ngFor="let c of data" [ngValue]="c.game_id">{{c.game_name}}</option>
    </select>


  </div>
  <div class="form-group">
    <input
      class="form-control mr-sm-2"
      name="place"
      [(ngModel)]="addItems.achievement_place"
      required
     
      placeholder="Place"
    />
  </div>
  <div class="form-group">
    <input type="file" #fileInput placeholder="Upload file..." />
    <p>Maximun allowed file size is 1MB</p>
  </div>

  
  <button (click)="add()">Add </button>


  

</div>

