<div class="card" style="width: 100%;">
  <div class="card-header">
    <header>
      <h3 class="text-center">Achievements</h3>
    </header>

    <div *ngIf="games">
      <ul  *ngIf="games?.length>0" >
        <li class="text-center" (click)="getArchByGameId(item.game_id)" *ngFor="let item of games"><a><img src="../../assets/games/{{item.game_img_url}}"></a></li>
      </ul>
    </div>
 

    
  </div>
  <div class="card-body ">

    <div class="row fixtureHead text-left">
        <div class="col-6 tournamentHead" >
            <span>Tournament</span>
          </div>
      <div class="col-3 dateHead" >
        <span>Date</span>
      </div>
      <div class="col-3 placeHead text-center"  >
        <span>Place</span>
      </div>
    
  
     
    </div>


    <div class="row match text-left" *ngFor="let item of items"  >
        <div class="col-6 tournamentname" >
            <span><img src="../../assets/achievements/{{item.achievement_imgurl}}" style="width:13%;"> &nbsp;{{item.achievement_tournament}}</span>
            
          </div>
      <div class="col-3 text-left" >
        <div class="mpt">
            <span class="" [innerHtml]="item.achievement_date | date: 'yyyy'"></span><br/>
            <span class="" [innerHtml]="item.achievement_date | date: 'MM/dd'"></span>
        </div>

         </div>
      <div class="col-3 placediv text-center"  >
        <span class="mpt" >{{item.achievement_place}}th</span>
      </div>
    
  

    </div>

  </div>