.card {
    background-color: #1d1d1d;
  }
  .card p {
    color: aliceblue;
    font-size: 0.9rem;
    line-height: 1.2;
  }
  .card h5 {
    font-weight: 900;
  }
  
  span {
    color: #4a4a4a;
  }
  .card-footer {
    border: none;
    background: transparent;
  }
  
  .card-header  ul {
    list-style: none;
    padding: 0 0 0.6rem 0;
  }
 .card-header ul li {
    float: left;
    width: 25%;
    height: 100%;
    cursor: pointer;
    padding: 1rem !important;
  }
 .card-header ul li a i{
      color:#a5a5a5;
  }
.card-header  ul li a{
      height: 100%;
  }
 .card-header ul li:hover {
      background: #4a4a4a;
  }
 .card-header  ul li a:hover > i{
      transform: scale(1.2);
      color:white !important;
  }
  a {
    color: white !important;
  }
  header h3 {
    font-weight: 700;
    margin-bottom: 0 !important;
  }
  .card-header {
    padding: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
  }
  .card-header header {
    background: #151515;
    padding: 0.9rem;
  }
  .card-body{
    padding: 0;
  }
  .card-body .table{
    width: 100%;
    min-width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
    background: #1d1d1d;
  
  }
  
  .card-body .table tr td{
    border: none !important;
  }
  .card-body .table thead th{
    border-color: #242424;
  }
  
  .card-body .table tr{
    cursor: pointer !important;
  }

  .card-body .row{
    margin: 0;
  }

  .row span{
    color: white;
  }
  .card-body  .row:nth-child(2n){
    background: #242424;
  }
  .card-body .row:nth-last-child(1){
    margin-bottom: 2% !important;
  }

  .card-body li{
    color: white;
  }
  .card-body ul{
    list-style: none;
    padding: 0 !important;
    margin: 3% 0 !important;

  }
  .card-body .fixtureHead{
    margin-bottom: 1% ;
    margin-top: 1% ;
  }
  .card-body span{
    color:#8c8c8c;
  }
  .card-body .match:hover{
    cursor: pointer;
    outline: 1px #8c8c8c solid;
  }

  .card-footer{
text-align: center;


display: block;


  }

  .card-footer .moreMatches.btn{
    width: 100%;
    background:transparent;
    border: none;
    vertical-align: text-bottom;
    color: #8c8c8c;
  
  }
  .card-body .moreMatches.btn:hover > span{
    color: white;
  }
  .card-footer .moreMatches.btn:focus{
  border:none;
  outline:none;
  box-shadow: none;
 
  }
  li{
    list-style: none;
  }
 img{
    width: 100%;
    
  }
  .marginzero{
    margin: 0 !important;
  }
 .spanposition span{
   position: relative;
   top: 36%;
 }
 .spanpositionNot span{
  position: relative;
  top: 0%;
 }
 .match{
  padding: 1% 0;
 }
 .card{
   overflow: hidden;
 }
 .card-body{
  overflow: auto;
 }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::-webkit-scrollbar-track-piece {
  background:transparent;

}